# Environment
.env
.env.local
.env.*.local

# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Local database files
*.db
*.db-info
*.db-wal
*.db-shm

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Project specific
GearGuard The Ultimate Maintenance Tracker.pdf
GearGuard_ The Ultimate Maintenance Tracker - 8 hours.png

# UV
uv.lock